#canvas{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
}

.circle{
    border:solid 1px red;
    border-radius:50%;
    position:absolute;
    height: 100px;
    width: 100px;
}